{% extends "layout.html" %}
{% block body %}
  <h1 style="font-weight: bold;font-size:1cm;font-family:YouYuan;">帮助中心</h1>
  <p><a style="font-weight: bold">注册：</a>用于用户注册，用户输入用户密码，进行注册，网站不会获取关于您的任何隐私，所以请放心使用。</p>
  <p><a style="font-weight: bold">登陆：</a>用于用户登录，用户输入用户密码，进行登陆，网站不会获取关于您的任何隐私，所以请放心使用</p>
  <p><a style="font-weight: bold">主页：</a>返回主页，查看树洞里的内容。注册并登陆后，会有分享框，用户能输入标题内容等进行分享。</p>
  <p><a style="font-weight: bold">热门：</a>赞数最多的5条内容会在热门频道显示。</p>
  <p><a style="font-weight: bold">图库：</a>这里显示的是用户分享出来的图片。用户注册登陆后，就能分享自己喜欢的图片。</p>
  <p><a style="font-weight: bold">标签：</a>用于用户查询自己喜欢的标签类，点击标签关键字，即可出现与之相关的内容。</p>
  <p><a style="font-weight: bold">站内查询：</a>用户可根据自己的需要，查询相关的关键字，关键词，即可显示相关的内容。</p>
  <p><a style="font-weight: bold">关于内容保存：</a>不出意外的话，用户发布的内容与上传的图片会永久保存。</p>
  <p><a>有任何问题、建议，请联系我：Soci_yuan@qq.com</a></p>
{% endblock %}